<li nav-item>
<form asp-page="/Albums/Search" method="get">
    <input type="text" id="searchTerm" name="searchTerm" placeholder="Search albums"/>
    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
</form>
</li>